@import "../../styles/variables.scss";
@import "../../styles/type.scss";

.createItem {
  border: 1px solid $textColor;
  border-radius: 6px;
  display: flex;
  font-size: 1.5rem;
  background: rgba(#000, 0.1);
  input[type="text"] {
    @include mainFont;
    flex-grow: 1;
    background: none;
    border: none;
    color: $textColor;
    &:focus {
      outline: none;
    }
  }
  button[type="submit"] {
    color: $textColor;
    @include mainFont;
    background: none;
    -webkit-appearance: none;
    border: none;
  }
}
