.item {
  font-size: 22px;
  list-style: none;
  padding: 4px 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  margin: 4px 0;
  input[type="checkbox"] {
    // position: absolute;
    margin-top: .6rem;
    margin-right: .6rem;
  }
}
