@import "../../styles/variables.scss";
@import "../../styles/type.scss";

.item {
  @include mainFont;
  list-style: none;
  padding: 10px 5px;
  color: $textColor;
  margin: 4px 0;
  background: rgba(#000, 0.1);
  input[type="checkbox"] {
    // position: absolute;
    margin-top: .6rem;
    margin-right: .6rem;
  }
  input[type="text"] {
    border: 0;
    background: none;
    @include mainFont;
    color: #fff;
    &:focus {
      outline: 0;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      display: inline;
      button {
        background: none;
        border: none;
        @include mainFont;
      }
    }
  }
  form {
    display: inline;
  }
}
