@import "../../styles/variables.scss";
@import "../../styles/type.scss";

.item {
  @include mainFont;
  list-style: none;
  padding: 4px 0;
  border-bottom: 1px solid $textColor;
  color: $textColor;
  margin: 4px 0;
  input[type="checkbox"] {
    // position: absolute;
    margin-top: .6rem;
    margin-right: .6rem;
  }
}
